extends ../layout

block scripts
  script.

    function setCookie(cname, cvalue) {
      console.log("Creating a cookie with value of ");
      console.log(cvalue);
      document.cookie = cname + "=" + cvalue + ";path=/";
    }        




    function getCookie(cname) {
      console.log("Function get cookie");
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
        }
        }
      return "";
      }




    window.fbAsyncInit = function() {
    FB.init({
    appId            : '530954160705254',
    autoLogAppEvents : true,
    xfbml            : true,
    version          : 'v3.2'
    });
      FB.getLoginStatus(function(response) {
        console.log("Get Login Status");
        console.log(response);
        statusChangeCallback(response);
      });
    };
    (function(d, s, id){
      
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response){
      if (response.status == 'connected'){
        console.log('Logged in!');
        //THIS IS WHERE WE RE-DIRECT THE CLIENT TO THE FEED

        testAPI();
        window.location.href ='/userprofile';
        console.log(response);
        setElements(true);
      } else {
        console.log('Not authenticated.');
        setElements(false);
      }
    }
    function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me?fields=id,first_name,last_name,email,name', function(response) {
        const Http  = new XMLHttpRequest();
        const url = 'api/login'
        console.log(response);
        var body = {
          First: response.first_name,
          Last: response.last_name,
          Email: response.email,
          
          FbId: response.id

        };
        
        Http.open("POST", url);
        Http.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
       
        Http.send(JSON.stringify(body));

        var xml = new XMLHttpRequest();
        var url1 = 'api/fblogged';
        xml.open("GET", url1);
        console.log("DID MA THING");
        xml.send();



        console.log('Successful login for: ' + response.name);
        document.getElementById('profile').innerHTML =
          'Thanks for logging in, ' + response.name + '!';
          setCookie("officialId", response.id);
      });
    }

    function checkLoginState() {
     // console.log("Check login state");
      FB.getLoginStatus(function(response) {
       // console.log(response.authResponse.userID);
      statusChangeCallback(response);
      });
    }

    function setElements(isLoggedIn){
      if (isLoggedIn){
        document.getElementById('profile').style.display = 'block';
        document.getElementById('logout').style.display = 'block';
        document.getElementById('fb-btn').style.display = 'none';
      } else {
        document.getElementById('profile').style.display = 'none';
        document.getElementById('logout').style.display = 'none';
        document.getElementById('fb-btn').style.display = 'block';
      }
    }

    function logout(){
      FB.logout(function(response){
        setElements(false);
      });
    }

  
block content       
  h2.page-header  Login 
  div(ng-app='main-app')
    div(ng-controller='loginCtrl')
      form#myLogin(action='api/user')
        .form-row
          .form-group.col-md-6
            input#first.form-control(type='text', name='first', ng-model='first', placeholder='First Name')
          .form-group.col-md-6
            input#last.form-control(type='text', name='last', ng-model='last', placeholder='Last Name')
        .form-row
          .form-group.col-md-6
            input#username.form-control(type='text', name='username', ng-model='username', placeholder='Username')
          .form-group.col-md-6
            input#password.form-control(type='text', name='password', ng-model='password', placeholder='Password')
        .form-group
          input#email.form-control(type='text', name='email', ng-model='email', placeholder='Email Address')
        button.btn.btn-primary(type='submit', value='Login', ng-click='submit()') Submit
