extends ../layout

block content       
  .div(ng-app='myApp', ng-controller='myCtrl')
    .login-page.row
      .col-md-6
        img.resize(src='assets/transparent_big.png')
      .col-md-6
        form#myLogin
          h2.page-header  SIGN UP 
          hr
          .form-row
            .form-group.col-md-6
              input#first.form-control(type='text', name='first', ng-model='body.First', placeholder='First Name')
            .form-group.col-md-6
              input#last.form-control(type='text', name='last', ng-model='body.Last', placeholder='Last Name')
          .form-row
            .form-group.col-md-6
              input#username.form-control(type='text', name='username', ng-model='body.Username', placeholder='Username')
            .form-group.col-md-6
              input#password.form-control(type='password', name='password', ng-model='body.Password', placeholder='Password')
          .form-group
            input#email.form-control(type='text', name='email', ng-model='body.Email', placeholder='Email Address')
          button.btn.btn-primary(type='submit', value='Login', ng-click='submit()') Submit

        
        h4 {{firstname}} 
        h4(ng-bind='lastname')
        h4(ng-bind='email')

    script.
      
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope, $http, $log) {
        $scope.body = {
          First: "",
          Last: "",
          Username: "",
          Password: "",
          Email: "", 
          FbId: 0
          } 
        
        $scope.submit = function(){
          
          setElements(true);
          console.log("Before Body");
          console.log($scope.body);
          $http({
            method : "POST",
            url : 'api/login',
            data: $scope.body
            
            //header: {'content-type': 'application/json'}
          })
          .then(function(response) {
            console.log(response.data._id);
              setCookie("cookieKevin", response.data._id);
              window.location.href ='api/userprofile';
              //Josh's attempt to reformat the FbId DONT'T TOUCH
                //-  $http({
                //-       method: "PUT",
                //-       url: 'api/updater/'+response.data._id, 
                //-       data: $scope.body

                //-     }).then(function(res){
                //-       console.log("Updated the FbID to the mongo ID");
                //-     }).catch(function(err){
                //-      $log.debug(err);
                //-    });   
                
         }).catch(function(err){
           $log.debug(err);
         });
        
        }
        
      
  
      });

  
  
