extends ../layout

block scripts
  script.

    function setCookie(cname, cvalue) {
      console.log("Creating a cookie with value of ");
      console.log(cvalue);
      document.cookie = cname + "=" + cvalue + ";path=/";
    }        




    function getCookie(cname) {
      console.log("Function get cookie");
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
        }
        }
      return "";
      }




    window.fbAsyncInit = function() {
    FB.init({
    appId            : '530954160705254',
    autoLogAppEvents : true,
    xfbml            : true,
    version          : 'v3.2'
    });
      FB.getLoginStatus(function(response) {
        console.log("Get Login Status");
        console.log(response);
        statusChangeCallback(response);
      });
    };
    (function(d, s, id){
      
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response){
      if (response.status == 'connected'){
        console.log('Logged in!');
        //THIS IS WHERE WE RE-DIRECT THE CLIENT TO THE FEED

        testAPI();
        window.location.href ='api/userprofile';
        console.log(response);
        setElements(true);
      } else {
        console.log('Not authenticated.');
        setElements(false);
      }
    }
    function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me?fields=id,first_name,last_name,email,name', function(response) {
        const Http  = new XMLHttpRequest();
        const url = 'api/login'
        console.log(response);
        var body = {
          First: response.first_name,
          Last: response.last_name,
          Email: response.email,
          
          FbId: response.id

        };
        
        Http.open("POST", url);
        Http.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
       
        Http.send(JSON.stringify(body));
        console.log(Http.Response)
        setCookie("officialId", Http.Response);
        var xml = new XMLHttpRequest();
        var url1 = 'api/fblogged';
        xml.open("GET", url1);
        console.log("DID MA THING");
        xml.send();



        console.log('Successful login for: ' + response.name);
        document.getElementById('profile').innerHTML =
          'Thanks for logging in, ' + response.name + '!';
          
      });
    }

    function checkLoginState() {
     // console.log("Check login state");
      FB.getLoginStatus(function(response) {
       // console.log(response.authResponse.userID);
      statusChangeCallback(response);
      });
    }

    function setElements(isLoggedIn){
      if (isLoggedIn){
        document.getElementById('profile').style.display = 'block';
        document.getElementById('logout').style.display = 'block';
        document.getElementById('fb-btn').style.display = 'none';
      } else {
        document.getElementById('profile').style.display = 'none';
        document.getElementById('logout').style.display = 'none';
        document.getElementById('fb-btn').style.display = 'block';
      }
    }

    function logout(){
      FB.logout(function(response){
        setElements(false);
      });
    }
  
block content       
  div(div='div', ng-app='myApp', ng-controller='myCtrl')
    .login-page.row
        .col-md-6
          img.resize(src='assets/bigbeard.png')
        .col-md-6
          form#myLogin
            h2.page-header  SIGN UP 
              hr
              .form-row
                .form-group.col-md-6
                  input#first.form-control(type='text', name='first', ng-model='body.First', placeholder='First Name')
                .form-group.col-md-6
                  input#last.form-control(type='text', name='last', ng-model='body.Last', placeholder='Last Name')
              .form-row
                .form-group.col-md-6
                  input#username.form-control(type='text', name='username', ng-model='body.Username', placeholder='Username')
                .form-group.col-md-6
                  input#password.form-control(type='password', name='password', ng-model='body.Password', placeholder='Password')
              .form-group
                input#email.form-control(type='text', name='email', ng-model='body.Email', placeholder='Email Address')
              button.btn.btn-primary(type='submit', value='Login', ng-click='submit()') Submit
        
        h4 {{firstname}} 
        h4(ng-bind='lastname')
        h4(ng-bind='email')

    script.
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope, $http, $log) {
        $scope.body = {
          First: "",
          Last: "",
          Username: "",
          Password: "",
          Email: "", 
          FbId: 0
          } 
        
        $scope.submit = function(){
          console.log("Before Body");
          console.log($scope.body);
          $http({
            method : "POST",
            url : 'api/login',
            data: $scope.body
            
            //header: {'content-type': 'application/json'}
          })
          .then(function(response) {
            console.log(response.data._id);
              setCookie("mongoCookie", response.data._id);
              window.location.href ='api/userprofile';
              //Josh's attempt to reformat the FbId DONT'T TOUCH
                //-  $http({
                //-       method: "PUT",
                //-       url: 'api/updater/'+response.data._id, 
                //-       data: $scope.body

                //-     }).then(function(res){
                //-       console.log("Updated the FbID to the mongo ID");
                //-     }).catch(function(err){
                //-      $log.debug(err);
                //-    });   
                
         }).catch(function(err){
           $log.debug(err);
         });
  
        }
        
      
  
      });

  
  
