body {
  padding: 50px;
}

.resize{
	max-width:90%;
	width: 100%;
    height: auto;
}


.btn:hover {
	background-color:#606284!important;
	border:none;
}


 // =========== NAV STYLING ===========  


.nav-item a{
	display:block;
}

.nav-item{
	padding:10px;
}

.prof, .logout{
	color:white!important;
}

.prof:hover, .logout:hover{
	color:#BAC9D9!important;
	text-decoration:none;
}


.navbar{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:70px;
	background-color:#36374a!important;
}

.navbar-brand{
	color:white;
}

.navbar-brand:hover{
	color:#BAC9D9!important;
	text-decoration:none;
}

#theId{
	display: none;
}


#profile{
	display: none;
	color:white;
}

#logout{
  display: none;
}


// =========== CARD STYLING ===========


.card-img-top {
  width: 50%;
  height: 420px;
}


#createPost{
	display: none;
}


.login-page{
	margin:50px;
	padding:5px;
}

.form-control{
	border-color: #36374a;
	font-family: 'Lato', sans-serif;

}

.form-control:focus {
  border-color: #606284;
  box-shadow: 1px 1px #606284;
}

.page-header{
	color: #d44243;
	font-family: 'Patua One', cursive;
	font-size:60px;
}

.card {
	padding: 10px;
	margin: 30px;
}

.card-img-top{
	align-items: center;
	width:100%!important;
	height:auto;
}

.content{
	margin:50px;
}

.btn{ 
	color:white!important;
	background-color: #36374a;
	border:none;
	font-family: 'Lato', sans-serif;
}

h3.my_posts{
	align-self: center;
}

@media (max-width:500px){
	.page-header{
		font-size:30px;
	}
}