.hello{
	margin:auto!important;
	padding:30px;
}

#likeDislike{
	display:inline-block;
	padding:10px;
}
body {
	padding: 50px;
	background-color: #ececf9;
}
#input-container{
	border: 3px solid #ffffff;
	display: inline-block;
	padding: 10px;
	background-color: hsl(237, 16%, 25%);
	color: #ececf9;
	border-radius: 10px;
}
#post-button{ 
	color: #ffffff!important;
	background-color: rgb(255, 153, 0);
	border:none;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	
}


#post-button2{ 
	color: #ffffff!important;
	background-color: rgb(255, 153, 0);
	border:none;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	display: inline-block;
}
.wrapper{
	text-align: center;
	
}

#post-button:hover {
	background-color:rgb(247, 102, 6)!important;
	border:none;
}

.resize{
	max-width:90%;
	width: 100%;
    height: auto;
}


.btn:hover {
	background-color:#606284!important;
	border:none;
}

#createPost {
	text-align:center;
	display:block;
}


 /* =========== NAV STYLING ===========  */


.nav-item a{
	display:block;
	overflow:hidden;
}

.nav-item{
	padding:10px;
}

.prof, .logout{
	color:white!important;
}

.prof:hover, .logout:hover{
	color:#ececf9!important;
	text-decoration:none;
}

.navbar{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:70px;
	background-color:#36374a!important;
}

.navbar-brand{
	color:white;
}

.navbar-brand:hover{
	color:#ececf9!important;
	text-decoration:none;
}

#theId{
	display: none;
}


#profile{
	display: none;
	color:white;
}

#logout{
  display: none;
}


/* =========== CARD STYLING =========== */

.card-img-top {
  width: 50%;
  height: 420px;
}


#createPost{
	display: none;
}


.login-page{
	margin:50px;
	padding:5px;
}

.form-control{
	border-color: #36374a;
	font-family: 'Lato', sans-serif;

}

.form-control:focus {
  border-color: #606284;
  box-shadow: 1px 1px #606284;
}

.page-header{
	text-align: center;
	color: #36374a;
	font-family: 'Patua One', cursive;
	font-size:60px;
}

.card {
	padding: 10px;
	margin: 30px;
	background-color: #d9d9f2;
	border-style: solid;
	border-width: 3px;
	border-color: #ffffff;
}

.card-img-top{
	align-items: center;
	width:100%!important;
	height:auto;
}

.content{
	margin:50px;
	position: auto;
	top: auto;
}

.btn{ 
	color:white!important;
	background-color: #36374a;
	border:none;
	font-family: 'Lato', sans-serif;
}

h3.my_posts{
	align-self: center;
}

#wrapper{
	text-align:center;
}
#input-container{
	border: 3px solid #ffffff;
	display: inline-block;
	padding: 10px;
	background-color: hsl(237, 16%, 25%);
	color: #ececf9;
	border-radius: 10px;	
}
#post-button2{
	color: #ffffff!important;
	background-color: rgb(255, 153, 0);
	border:none;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin: 2px;
	display: inline-block;
}

.wrapper{
	text-align: center;
}

@media (max-width:500px){
	.page-header{
		font-size:30px;
	}
}

@media (max-width:500px){
	.nav, .nav-item{
		display:block;
		position:absolute;

	}
}

/* //////////// User Profile Styling //////// */
.info {
	border: 2px;
	border-color: #ffffff;
	border-style: solid;
	background-color:  #b3b3cc;
}

#miniHeader {
	padding: 10px;
	font-family: 'Palatino';
	font-weight: bolder; 
}

.myPosts {
	font-family: 'Patua One', cursive;
	font-weight: bolder;
	color: #36374a;
}