// this is a front page we can use ! 

div(ng-app='main-app')
  div(ng-controller='loginCtrl')
    .login-page.row
      .col-md-5
        img.resize(src='bigbeard.png', width='700px')
      .col-md-7
        .sisosig
          h1.sisosig  Should I Shave 
          h1.sisosig or Should I Grow 
        .some-text
          p
            | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        .sign
          h1
            a.sign(href='#')  SIGN IN 
          p
            a.sign(href='#')  or sign up