body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-img-top {
  width: 50%;
  height: 420px;
}

#fb-btn{
  margin-top: 10px;
}

#profile{
  display: none;
}

#logout{
  display: none;
  margin-top: 10px;
}