extends ../layout

//- 
block append navigation
  hr
  li.nav-item#createPost
    form(enctype='multipart/form-data', action='/api/upload/images', method = "POST")
      input#image-file(type='file')
      //input#caption(type='text' ng-model='caption' placeholder='Caption')
      //h5 {{caption}}
      button.btn.btn-primary(type='submit', value='submit', ng-click='submit()') Submit
  //  li.nav-item#download
    form(enctype='multipart/form-data', action='/api/upload/images', method="GET", target='_blank')
      button.btn.btn-primary(type='submit', value='download', ng-click='submit()') Submit


block append content
  h2.page-header Timeline
  div(div='div' ng-app='main-app' ng-controller='postController')
    .row
      .card.col-md-3(ng-repeat='post in postArray')
        img.card-img-top(src='http://placehold.it/350x150')
        .card-block
          h3.card-title {{post.caption}}
          h5 {{post.createdAt | date: 'medium'}}
          #likeDislike
            h6.card-shaves {{post.shave_votes}}
            a.btn.like(ng-click="updatePost(post._id, 'shave')") Shave
            h6.card-grows {{post.grow_votes}}
            a.btn.dislike(ng-click="updatePost(post._id, 'grow')") Grow
  
  // Javascript to Define Controller
  script.
    var app = angular.module("main-app", []);
    app.controller("postController", function($scope, $http, $log) {
      $scope.postArray = [];
      $scope.postLoader = function() {
        $http.get('/api/posts/').then(function(response) {
          $scope.postArray = response.data
        }).catch(function(err) {
          $log.debug(err);
        });
      } 
      $scope.postLoader();

    $scope.updatePost = function(id, type) {
      console.log(id + " " + type);
      $http({
        method: 'PUT',
        url: 'api/post/'+id+'?type='+type}).then(function(response) {
          console.log("then");
        $scope.dummy = response.data;
        $scope.postLoader();
      }).catch(function(err) {
        console.log("catch");
        $log.debug(err);
      });
    }
    });


