extends ../layout
block content
  head
    title  
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
  h2.page-header  User Page 
  div(div ng-app="myApp" ng-controller="myCtrl")
    p(ng-bind="data")
    p(ng-bind="lastname")
    
    script.
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope, $http) {
        $http({
          method : "GET",
          url : './u/5c101ebd823a8550b0924c38' 
        })
        .then(function(response) {
          $scope.data = "response.body";
        console.log("Hellow world")
        $scope.lastname = "COHEN";  
         });  
      });