extends ../layout

block append navigation

block append content
  h2.page-header  User Page 
  div(div='div', ng-app='myApp', ng-controller='myCtrl')
    div
      #miniHeader
      h4(ng-bind ='firstname') 
      h4(ng-bind='lastname')
      h4(ng-bind='email')
    hr
    h3 My Posts
    div
      .card.col-md-3.hello(ng-repeat='post in postArray', ng-if='post.userId == id_cookie')
        img.card-img-top(ng-src='api/images/'+ '{{post.imageId}}')
        .card-block
          h3.card-title {{post.caption}}
          h5 {{post.createdAt | date}}
          #likeDislike
            h6.card-shaves {{post.shave_votes}} Shaves 
          #likeDislike
            h6.card-grows {{post.grow_votes}} Grows

    script.
      
      console.log("cookie kevin");
      console.log(getCookie("cookieKevin"));
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope, $http) {
        //- console.log("hello user Id");
        //- console.log(getCookie("newCookie"));
        console.log("Looking for cookies");
        
        if(getCookie("cookieKevin")){
          console.log("Mongo cookie");
          cookieID = getCookie("cookieKevin");
          console.log(cookieID);
          //setting user ID cookie variable
          $scope.id_cookie = cookieID;
          $http({
          method : "GET",
          url : 'api/u/'+cookieID
          })
          .then(function(response) {
          $scope.firstname = response.data.First;
          console.log("Test body");
          console.log(response);
          console.log(response.data.First);
          $scope.lastname = response.data.Last;  
          $scope.username = response.data.Username;  
          $scope.email = response.data.Email;  
         });
        }
       
        else {
          console.log("Else statement - Not a mongo cookie");
          var cookieID = getCookie("cookieKevin")
          console.log(cookieID);
          //setting user ID cookie variable
          $scope.id_cookie = cookieID;
          $http({
          method : "GET",
          url : 'api/fblogged/'+cookieID
          })
          .then(function(response) {
          $scope.firstname = response.data.First;
          console.log("Test body");
          console.log(response);
          console.log(response.data.First);
          $scope.lastname = response.data.Last;  
          $scope.username = response.data.Username;  
          $scope.email = response.data.Email;  
          
         });  
        } 

        $scope.postArray = [];
        $scope.postLoader = function() {
          console.log("Josh test");
          $http.get('/api/posts/').then(function(response) {
            $scope.postArray = response.data
            console.log($scope.postArray.length);
          }).catch(function(err) {
            $log.debug(err);
          });
        }
        $scope.postLoader();

        $scope.updatePost = function(id, type) {
          console.log(id + " " + type);
          $http({
            method: 'PUT',
            url: 'api/post/'+id+'?type='+type}).then(function(response) {
              console.log("then");
            $scope.dummy = response.data;
            $scope.postLoader();
          }).catch(function(err) {
            console.log("catch");
            $log.debug(err);
          });
        }
      });
