extends ../layout

block append content
  h2.page-header  User Page 
    div(div ng-app="myApp" ng-controller="myCtrl")
        div(id="miniHeader")
            ul
                li(ng-bind="username")
                li Upload An Image
                li Recent 
        h4(ng-bind="firstname") 
        h4(ng-bind="lastname")
        h4(ng-bind="email")

       
            

    
    script.
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope, $http) {
        console.log("App Controller");
        //- FB.api('/me?fields=id,first_name,last_name,email,name', function(response) {
        //-   console.log('login for: ' + response.name);
        //-   $scope.firstname = response.first_name;
        //-   $scope.lastname = response.last_name;  
        //-   $scope.username = "Empty" ; 
        //-   $scope.email = "Empty"; 
          
        //- });


        $http({
          method : "GET",
          url : './u/'+"5c195e57abdd6d113c6f19ca"
        })
        .then(function(response) {
          $scope.firstname = response.data.First;
          $scope.lastname = response.data.Last;  
          $scope.username = response.data.Username;  
          $scope.email = response.data.Email;  
        console.log(response.data)
         });  
      });