.body-top-section.clearfix(ng-controller='MainController')
  .content
    p(align='center')
      img(src='../assets/zGal_beard.jpg' width='10%')
      br
      | Behind Every Great Beard, is A Better Heart
    posts

    